.footerContainer {
    /* background-color: #00183E; */
    padding: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    background-image: url('/Rectangle 11.svg');
    background-repeat: repeat;
    background-size: cover;
    flex-direction: column;
}

.email {
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
    padding-bottom: 10px;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.socialIcons img {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direitos {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-align: right;
    margin-top: 30px;
}

.inputContainer {
    position: relative;
    padding: 15px;
}

.input {
    border: 1px solid #fff;
    padding: 7px;
    background-color: transparent;
    border-radius: 4px;
    width: 230px;
    outline: none;
    color: rgba(255, 255, 255, 0.30);
}

.label {
    position: absolute;
    color: #fff;
    font-size: 13px;
    font-weight: bold;

    background-image: url('/Rectangle 11.svg');
    bottom: 38px;
    left: 23px;
    padding: 5px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.30);
    font-size: 13px;
}

@media (min-width: 1580px) {
    .footerContainer {
        /* background-color: #00183E; */
        padding: 80px;
    }
}